/* Results */
#results {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	overflow: auto;
}

#results div span {
	display: inline-block;
	margin: 5px;
}

.result span {
	padding: 2px;
	border: 1px solid transparent;
	cursor: pointer;
}

span.is-in {
	font-weight: bold;
}

span.is-not-mentionned:hover {
	border-color: black;
	border-radius: 5px;
}

span.is-not-in {
	text-decoration: line-through;
}

.result {
	text-align: center;
	margin: 10px;
	padding: 5px;
	border-radius: 3px;
	color: white;
	background-color:rgb(29, 29, 29);
	
}

@media (min-width: 800px) {
	.result {
		flex-basis: 200px;
	}
}

@media (max-width: 800px) {
	.result {
		margin: 10px auto;
		width: 90vw;
	}
}

.perfect-match {
	box-shadow: 0 0 5px grey;
}

.partial-match {
	box-shadow: 0 0 5px black;
}

.result h3 {
	font-size: 1.4em;
	cursor: pointer;
	padding-bottom: 15px;
}

.result h3:hover {
	text-shadow: 0 0 4px darkgrey;
}

.result div {
	font-style: italic;
}

#active-result {
	background-color: rgb(122, 24, 109);
}

/* Focused result */

#focused-result {
	display: none;
	overflow: hidden;
	background: white;
	border-bottom: 0px solid transparent;
	box-shadow: 0 1px 5px grey;
	padding: 0;
	margin: 0;
}

.focused-result-div {
	position: relative;
	top: 0;
	height: 100%;
	width: 100%;
	margin-bottom: 25px;
}

.focused-result-div h1 {
	text-decoration: underline;
	text-align: center;
	font-size: 1.6em;
	font-weight: 650;
}

.focused-result-div h3 {
	margin: 10px;
	font-size: 1.3em;
	font-weight: 550;
}

.focused-result-div ul {
	padding-left: 20px;
	list-style: disc;
	margin-left: 2vw;
}

.focused-result-div .unfocus-button {
	padding: 0;
	margin: 0;
	display: block;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	width: 32px;
	height: 32px;
	background-image: url('/css/assets/rollup-icon.png');
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

/* Catalog */

#catalog {
	overflow: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 10px;
	grid-gap: 10px;
}

@media (max-width: 800px) {
	#catalog {
		grid-template-columns: 1fr;
	}
}

.catalog-bucket {
	background: rgb(29, 29, 29);
	color: white;
	padding: 15px;
	border-radius: 5px;
}

.catalog-bucket h3 {
	font-size:2.2em;
	padding: 15px;
	font-weight: 600;
}

.catalog-bucket .catalog-entry {
	font-size: 1.2em;
	cursor: pointer;
	font-weight: 550;
	text-decoration: underline;
	padding: 5px;
}