/* leftside container */



/* title header */

#title {
	color: white;
	text-align: center;
	cursor: pointer;
	font-size: 3rem;
	padding: 15px;
	padding-bottom: 30px;
	font-family: 'Architects Daughter', cursive;
}

/* searchbar */

#searchbar {
	padding-bottom: 10px;
	text-align: center;
}

#searchbar input {
	outline: none;
	display: block;
	font-size: 2em;
	margin: auto;
	width: 90%;
	border-radius: 9999px;
	padding: 5px;
	padding-left: 15px;
	color: white;
	background-color:rgb(0, 0, 0);
	border: 1px solid rgb(100, 100, 100);
}

#searchbar input:focus {
	border: 1px solid rgb(255, 255, 255);
	box-shadow: 0px 0px 3px white;
}

/* autocomplete */

#autocomplete-list {
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translate(-50%);
    width: 85%;
	max-width: 850px;
    padding: 0;
    background-color: hsl(240, 1%, 45%);
	border-radius: 0px 0px 5px 5px;
	max-height: 400px;
	overflow: auto;
}

@media (max-width: 800px) {
	#autocomplete-list {
		width: 100%;
		font-size: 1.2em;
		max-height: 600px;
		left: 50%;
		transform: translate(-50%);
	}
}

.autocompleted {
    margin: 1px auto;
    padding: 5px;
    font-size: 1.5em;
    background: hsl(0, 0%, 8%);
	color: white;
    cursor: pointer;
}

.autocompleted:hover {
	background-color: rgba(239, 181, 255, 0.5);
}

.active-autocomplete {
	background-color: rgba(76, 5, 143, 0.6) !important;
}

/* tags container & tag div */

#selected-ingredients {
	padding: 15px;
}

#selected-ingredients div {
	display: inline-block;
	padding: 5px;
	background-color: rgb(202, 133, 5);
	border-radius: 5px;
	margin: 10px;
}

#selected-ingredients span {
	display: inline-block;
	margin: 5px;
}

#selected-ingredients .delete-button {
	float: right;
	height: 16px;
	width: 16px;
	background-image: url('/css/assets/delete-tag-button.png');
    cursor: pointer;
}