:root {
	font-size: 16px;
	--searchbar-size: 20rem;
	font-family: 'Open Sans';
}

html, body {
	padding: 0px;
	margin: 0px;
	background-color: hsl(260, 9%, 87%);
}

#mainside {
	display: flex;
	flex-direction: column;
	background-color: hsl(260, 9%, 87%);
	height: 100%;
	overflow: hidden;
}

#leftside {
	background-color:hsl(223, 9%, 15%);
	
}

/* Small screens */

@media only screen and (max-width: 1000px) {
	body {
		/* There's a stupid gap i cant get rid off only on mobile */
		margin-top: -40px;
	}

	#leftside {
		width: 100vh;
		margin: 0px;
		padding: 0px;
	}

	#mainside {
		margin: 0px;
		padding: 0px;
		width: 100vh;
	}
}

/* Big screens */

@media only screen and (min-width: 1000px) {
	#mainside {
		margin-left: var(--searchbar-size);
	}
	
	#leftside {
		position: fixed;
		width: var(--searchbar-size);
		height: 100vh;
	}
}